# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Snow Boarder.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityGithubRepos\SnowBoarder\Snow Boarder\.idea\.idea.Snow Boarder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
